{{#if feature_image}}
  <figure class='c-post-image-wrap'>
    <img
      alt=''
      class='c-post-image lazyload'
      data-srcset='
        {{ img_url feature_image size='ml' }} 346w,
        {{ img_url feature_image size='lg' }} 692w,
        {{ img_url feature_image size='xl' }} 1384w'
      sizes='(min-width: 1260px) 692px, (min-width: 1040px) calc(34vw + 270px), (min-width: 640px) calc(90vw - 61px), calc(100vw - 32px)'
      data-src='{{ img_url feature_image size='xl' }}'
    >
  </figure>
{{/if}}

<header class='c-post-header'>
  <h1 class='c-post-header__title'>{{ title }}</h1>

  {{#if custom_excerpt}}
    <p class='c-post-header__excerpt'>{{ custom_excerpt }}</p>
  {{/if}}

  {{#is 'post'}}
    <div class='c-post-header__meta'>
             <time class='c-post-header__date' datetime='{{ date format='YYYY-MM-DD' }}' title='{{ date format='DD MMMM YYYY' }}'>{{ date format='DD MMM YYYY' }}</time>
  
      {{> share }}
    </div>
  {{/is}}
</header>