   {{!< default}}
    <header class="page-header" data-background="{{ asset "images/page-header.jpg"}}">
      <div class="inner">
        <svg width="580" height="400" class="svg-morph">
          <path id="svg_morph" d="m261,30.4375c0,0 114,6 151,75c37,69 37,174 6,206.5625c-31,32.5625 -138,11.4375 -196,-19.5625c-58,-31 -86,-62 -90,-134.4375c12,-136.5625 92,-126.5625 129,-127.5625z" />
        </svg>
        <h1>{{meta_title}}</h1>
        <p>For the latest updates about reopening, booking tickets and what's happening at the Museum, sign up to our newsletter</p>
      </div>
      <!-- end inner --> 
    </header>
    <!-- end page-header -->
    <section class="content-section" data-background="#fffbf7">
      <div class="container">
		    <div class="row justify-content-center">
                {{#get "tags" limit="all" include="tags,authors,count.posts"}}
			     {{#foreach tags}}
                    <div class="col-lg-4 col-md-6">
                        <div class="exhibition-box" data-scroll data-scroll-speed="1" >
                        <figure> <a href="{{url}}"><img src="{{ feature_image }}" alt="Image" class="img"></a>
                            <div class="info">
                            <figure class="i"><img src="{{ feature_image }}" alt="Image"></figure>
                            <span>50% off exhibitions</span> </div>
                            <!-- end info --> 
                        </figure>
                        <div class="content-box">
                            <h4><a href="{{url}}">{{name}}</a></h4>
                            <p>{{date}}</p>
                        </div>
                        <!-- end content-box --> 
                        </div>
                        <!-- end exhibition-box --> 
                    </div>
                {{/foreach}}
            {{/get}}

		  </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
    </section>
 