{{!< default}}

            <!-- end navbar -->
            <header class="slider">
                <div class="swiper-container slider-images">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" data-background="{{ asset "images/slide01.jpg" }}">
                            <div class="mobile-slide" data-background="{{ asset "images/slide01.jpg"}}"></div>
                        </div>
                        <div class="swiper-slide" data-background="{{ asset "images/slide02.jpg"}}">
                            <div class="mobile-slide" data-background="{{ asset "images/slide02.jpg"}}"></div>
                        </div>
                    </div>
                    <!-- end swiper-wrapper -->
                    <div class="container-fluid slider-nav">
                        <div class="swiper-pagination"></div>
                        <!-- end swiper-pagination -->
                        <div class="swiper-fraction"></div>
                        <!-- end swiper-fraction -->
                        <div class="button-prev"><i class="far fa-chevron-down"></i></div>
                        <!-- end swiper-button-prev -->
                        <div class="button-next"><i class="far fa-chevron-up"></i></div>
                        <!-- end swiper-button-next -->
                    </div>
                    <!-- end slider-nav -->
                </div>
                <!-- end slider-images -->
                <div class="swiper-container slider-texts">
                    <svg width="580" height="400" class="svg-morph">
                        <path id="svg_morph" d="m261,30.4375c0,0 114,6 151,75c37,69 37,174 6,206.5625c-31,32.5625 -138,11.4375 -196,-19.5625c-58,-31 -86,-62 -90,-134.4375c12,-136.5625 92,-126.5625 129,-127.5625z" />
                    </svg>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="container-fluid">
                                <h1>Velkommen til Hopsjøbrygga</h1>
                                <p>Opplev god mat, drikke og musikk i et rotekte kulturhistorisk miljø. <br>Her finner du restaurant, gjestebrygge, krambod og flere små <br> museum med utstillinger som er åpne året rundt!</p>
                            </div>
                            <!-- end container -->
                        </div>
                        <!-- end swiper-slide -->
                        <div class="swiper-slide">
                            <div class="container-fluid">
                                <h1>Besøk fabrikken</h1>
                                <p>Nå åpner vi ny utstilling på fabrikken og du kan ta del i den <br>rike hermetikk historien øyregionen har fostret siden 1910.  </p>
                            </div>
                            <!-- end container -->
                        </div>
                        <!-- end swiper-slide -->
                    </div>
                    <!-- end swiper-wrapper -->
                </div>
                <!-- end slider-texts -->
                <!-- end play-now -->
            </header>
            <!-- end slider -->
            <section class="content-section" data-background="#fffbf7">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="section-title text-center">
                                <figure><img src="{{ asset "images/title-shape.png"}}" alt="Image"></figure>
                                <h2>Hitras største uteservering!</h2>
                            </div>
                            <!-- end section-title -->
                        </div>
                        <!-- end col-12 -->
                        <div class="col-lg-6">
                            <figure class="image-box" data-scroll data-scroll-speed="-1"> <img src="{{ asset "images/hopsjobrygga-sommer.jpg"}}" alt="Image"> </figure>
                        </div>
                        <!-- end col-7 -->
                        <div class="col-lg-6">
                            <div class="side-icon-list right-side">
                                <ul>
                                    <li>
                                        <figure> <img src="{{ asset "images/icon01.png"}}" alt="Image"> </figure>
                                        <div class="content">
                                            <h5>Åpningstider</h5>
                                            <p>I perioden 01.April til 01.september har vi arrangement og restaurantkvelder. For eksakte dager og tider sjekk vår fjesbokside.</p>
                                        </div>
                                        <!-- end content -->
                                    </li>
                                    <li>
                                        <figure> <img src="{{ asset "images/icon02.png"}}" alt="Image"> </figure>
                                        <div class="content">
                                            <h5>Muligheter</h5>
                                            <p>Omvisning i Hopsjøvågen eller en av våre utstillinger, ta tur med nattseilerne, besøk på krambua, lei hele eller deler av brygga for bedrifts eller privat arrangement. Ta kontakt med oss <a href="mailto:info@hopsjo.no">info@hopsjo.no</a> for informasjon!</a>
                                        </div>
                                        <!-- end content -->
                                    </li>
                                    <li>
                                        <figure> <img src="{{ asset "images/icon03.png"}}" alt="Image"> </figure>
                                        <div class="content">
                                            <h5>Vår adresse</h5>
                                            <p>Hopsjøveien 1, 7250 Melansjø.</p>
                                        </div>
                                        <!-- end content -->
                                    </li>
                                </ul>
                            </div>
                            <!-- end side-icon-list -->
                        </div>
                        <!-- end col-5 -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </section>
            <!-- end content-section -->

            <section class="content-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-9">
                            <div class="section-title">
                                <figure><img src="{{ asset "images/title-shape.png"}}" alt="Image"></figure>
                                <h6>HOLD DEG OPPDATERT OVER</h6>
                                <h2>HVA SOM SKJER</h2>
                            </div>
                            <!-- end section-title -->
                        </div>
                        <!-- end col-9 -->
                        <div class="col-lg-3"> <a href="mailto:info@hopsjo.no" class="circle-button">BESTILL ET ARRANEGEMENT</a> </div>
                        <!-- end col-3 -->
                    </div>
                    <!-- end row -->
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="exhibition-box" data-scroll data-scroll-speed="-1">
                                <figure> <a href="#"><img src="{{ asset "images/post1.jpg"}}" alt="Image" class="img"></a>
                                    <div class="info">
                                        <figure class="i"><img src="{{ asset "images/icon-info.png"}}" alt="Image"></figure>
                                        <span>50% off exhibitions</span>
                                    </div>
                                    <!-- end info -->
                                </figure>
                                <div class="content-box">
                                    <h4><a href="#">Nyskjerrig på Hopsjøbryggas rike historie? Da skal du besøke denne siden her!</a></h4>
                                    <p> 15 August – 31 October 2020 </p>
                                </div>
                                <!-- end content-box -->
                            </div>
                            <!-- end exhibition-box -->
                        </div>
                        <!-- end col-4 -->
                        <div class="col-lg-4 col-md-6">
                            <div class="exhibition-box" data-scroll data-scroll-speed="1">
                                <figure> <a href="#"><img src="{{ asset "images/post2.jpg"}}" alt="Image" class="img"></a>
                                    <div class="info">
                                        <figure class="i"><img src="{{ asset "images/icon-info.png"}}" alt="Image"></figure>
                                        <span>50% off exhibitions</span>
                                    </div>
                                    <!-- end info -->
                                </figure>
                                <div class="content-box">
                                    <h4><a href="#">Smaksfulleretter og duggfrisk drikke? Les mer om restauranten Traktørstedet Landstrykeren her!</a></h4>
                                    <p> 22 Oct 2020 - 21 Feb 2021</p>
                                </div>
                                <!-- end content-box -->
                            </div>
                            <!-- end exhibition-box -->
                        </div>
                        <!-- end col-4 -->
                        <div class="col-lg-4 col-md-6">
                            <div class="exhibition-box" data-scroll data-scroll-speed="-0.5">
                                <figure> <a href="#"><img src="{{ asset "images/post3.jpg"}}" alt="Image" class="img"></a>
                                    <div class="info">
                                        <figure class="i"><img src="{{ asset "images/icon-info.png"}}" alt="Image"></figure>
                                        <span>50% off exhibitions</span>
                                    </div>
                                    <!-- end info -->
                                </figure>
                                <div class="content-box">
                                    <h4><a href="#">Besøk hvalfangstmuseumet på tredje etasje og lær mer om Hvalfangsthistoren på Trøndelagskysten.</a></h4>
                                    <p> 22 Apr 2021 - 22 Aug 2021</p>
                                </div>
                                <!-- end content-box -->
                            </div>
                            <!-- end exhibition-box -->
                        </div>
                        <!-- end col-4 -->
                        <div class="col-12 text-center"> <a href="#" class="custom-button">SE ALLE NYHETSSAKER</a> </div>
                        <!-- end col-12 -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </section>
            <!-- end content-section -->

            <!-- end content-section -->
            <section class="content-section">
                <div class="video-bg">
                    <!-- <video src="videos/video.mp4" loop autoplay playsinline muted></video> -->
                    <img src="{{ asset "images/hopsjobrygga-by-night.jpg"}}" class="img" alt="hopsjøbrygga by night">
                </div>
                <!-- end video-bg -->
                <div class="container">
                    <div class="cta-box" data-scroll data-scroll-speed="-1">
                        <h6>Dette er</h6>
                        <h2>Historien om Hopsjøbrygga</h2>
                        <a href="https://www.hopsjo.no/om-hopsjo/" class="custom-button">Les mer</a>
                    </div>
                    <!-- end cta-box -->
                </div>
                <!-- end container -->
            </section>
            <!-- end content-section -->


            <section class="content-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="section-title text-center">
                                <figure><img src="{{ asset "images/title-shape.png"}}" alt="Image"></figure>
                                <h6>Get Latest Updates and News</h6>
                                <h2>Recent News</h2>
                            </div>
                            <!-- end section-title -->
                        </div>
                        <!-- end col-12 -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="recent-news">
                                <div class="content-box"> <small>Dec 26, 2020</small>
                                    <h3>Stedet for gode matopplevelser</h3>
                                    <p>Traktørstedet Landstrykeren Les mer om restauranten og tilbudet som vi har for bespisning på brygga!</p>
                                    <a href="https://www.hopsjo.no/restauranten/" class="custom-link">Les mer</a>
                                </div>
                                <!-- end content-box -->
                                <figure data-scroll data-scroll-speed="-1"><img src="{{ asset "images/hopsjo-glade gjester.jpg"}}" alt="Image"></figure>
                            </div>
                            <!-- end recent-news -->
                        </div>
                        <!-- end col-8 -->
                        <div class="col-12">
                            <div class="recent-news">
                                <div class="content-box"><small>Dec 26, 2020</small>
                                    <h3>Et av kystens eldste kultur og restaurant hus Tilbakeblikk i foto da og nå!</h3>
                                    <p></p>
                                    <a href="https://www.hopsjo.no/retro-foto" class="custom-link">Se mer</a>
                                </div>
                                <!-- end content-box -->
                                <figure data-scroll data-scroll-speed="1"><img src="{{ asset "images/hopsjo-ArveFjeldberg.jpg"}}" alt="Image"></figure>
                            </div>
                            <!-- end recent-news -->
                        </div>
                        <!-- end col-9 -->
                        <!-- <div class="col-12 text-center"> <a href="news.html" class="circle-button">SEE ALL<br>NEWS</a> </div> -->
                        <!-- end col-12 -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </section>


       