   {{!< default}}    
    <header class="page-header" data-background="{{ asset "images/page-header.jpg"}}">
      <div class="inner">
        <svg width="580" height="400" class="svg-morph">
          <path id="svg_morph" d="m261,30.4375c0,0 114,6 151,75c37,69 37,174 6,206.5625c-31,32.5625 -138,11.4375 -196,-19.5625c-58,-31 -86,-62 -90,-134.4375c12,-136.5625 92,-126.5625 129,-127.5625z" />
        </svg>
        <h1>Category</h1>
        <p>For the latest updates about reopening, booking tickets and what's happening at the Museum, sign up to our newsletter</p>
      </div>
      <!-- end inner --> 
    </header>
    <!-- end page-header -->
    <section class="content-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
        {{#foreach posts visibility="all"}}
            <div class="blog-post">
              <figure data-scroll data-scroll-speed="-1"><img src="{{feature_image}}" alt="{{name}}"></figure>
              <div class="content-box"> <small>{{date}}</small>
                <h3>{{title}}</h3>
                <p>{{excerpt words="25"}} </p>
                <a href="{{url}}" class="custom-link">Continue reading</a> </div>
              <!-- end content-box --> 
            </div>
        {{/foreach}}
            <!-- end blog-post -->

            {{pagination}}

            <!-- end pagination --> 
          </div>
          <!-- end col-8 -->
          <div class="col-lg-4">
            <aside class="sidebar">
              <div class="widget">
                <h6 class="widget-title">SEARCH</h6>
                <form>
                  <input type="search" placeholder="Type here to search">
                  <input type="submit" value="Search">
                </form>
              </div>
              <!-- end widget -->
              <div class="widget">
                <h6 class="widget-title">CATEGORIES</h6>
                <ul class="categories">
                  <{{#get "tags" limit="all"}}
                        {{#foreach tags}}
                            <li><a href="{{url}}">{{name}}</a></li>
                         {{/foreach}}
                    {{/get}}
                </ul>
              </div>
              <!-- end widget -->
              
              <div class="widget">
                <h6 class="widget-title">GALLERY</h6>
                <ul class="widget-gallery">
                  <li><a href="{{ asset "images/carousel-image01.jpg"}}" data-fancybox><img src="{{ asset "images/carousel-image01.jpg"}}" alt="Image"></a></li>
                  <li><a href="{{ asset "images/carousel-image02.jpg"}}" data-fancybox><img src="{{ asset "images/carousel-image02.jpg"}}" alt="Image"></a></li>
                  <li><a href="{{ asset "images/carousel-image05.jpg"}}" data-fancybox><img src="{{ asset "images/carousel-image05.jpg"}}" alt="Image"></a></li>
                  <li><a href="{{ asset "images/carousel-image04.jpg"}}" data-fancybox><img src="{{ asset "images/carousel-image04.jpg"}}" alt="Image"></a></li>
                </ul>
              </div>
              <!-- end widget --> 
            </aside>
            <!-- end sidebar --> 
          </div>
          <!-- end col-4 --> 
        </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
    </section>
    <!-- end content-section -->
